include MANIFEST.in
include README.md
include captchapy/daemon.sh
recursive-include captchapy/media/fonts *
recursive-include captchapy/media/images *
recursive-include captchapy/media/tmp *
prune testproject
